.highlight {
  @apply relative;
}

.highlight::before {
  content: "💥";
  scale: 3.5;
  filter: blur(1px);
  @apply absolute block origin-center animate-spin bg-yellow-200 bg-clip-text text-transparent [animation-duration:12s];
  translate: 10px 10px;
}
