.empty {
  @apply w-block h-block;
}
.empty::after {
  content: " ";
  display: block;
  background: linear-gradient(
    #0000 0%,
    #0000 91%,
    #0003 91%,
    #0003 97%,
    #0000 97%
  );
  @apply w-block h-block px-2 bg-clip-content;
}

.shade {
  background: linear-gradient(to right, #0006 0%, #0000 60%);
}

.limit {
  text-shadow:
    0px 0px 1px color-mix(in srgb, var(--cube-color) 70%, #fff 30%),
    0px 0px 1px #eee7,
    2px 2px 3px #0009;
  @apply w-block h-block text-center pt-2 bg-block bg-clip-text text-transparent;
}

.bottom {
  position: relative;
  @apply w-block h-block;
}
.bottom::after {
  content: " ";
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  background: linear-gradient(#0000 0%, #0000 51%, #0000 51%, #0006 100%);
  @apply w-block h-block;
}

.buffer {
  box-shadow: 8px 4px 4px #0007;
  border-color: transparent;
  background:
    linear-gradient(to bottom, #604532, #604532) padding-box,
    linear-gradient(to bottom, #b18c71 1.25rem, #805d43 1.5rem, #805d43)
      border-box;
  border-width: 2px 4px 4px 4px;
  border-radius: 2px 2px 6px 6px;
}
