.doneGlow {
  text-shadow: 0 0 2px lightgreen;
}

.levelUp {
  position: relative;
  background: linear-gradient(
    #0000 0%,
    #0000 47%,
    #0001 49%,
    #0001 51%,
    #fff1 53%,
    #fff0 55%
  );
}

.levelUp::after {
  content: "💪🏼 " var(--levelNr, "0");
  @apply mr-4 text-transparent bg-black/30 bg-clip-text opacity-80;
}

.textShadow {
  text-shadow: 1px 1px 2px #0008;
}

.colorEmoji {
  text-shadow: 0 0 0 var(--color);
  background-color: var(--color);
  background-clip: text;
  color: transparent;
}
