.levelUp {
  position: relative;
  background: linear-gradient(
    #0000 0%,
    #0000 47%,
    #0001 49%,
    #0001 51%,
    #fff1 53%,
    #fff0 55%
  );
}

.levelUp::after {
  content: "💪🏼 " var(--levelNr, "0");
  @apply absolute right-1 mr-4 bg-black/30 bg-clip-text text-transparent opacity-80;
}

.textShadow {
  text-shadow: 1px 1px 2px #0008;
}

.shiftDown {
  animation: shiftDown 1.5s ease-in-out 0.5s 1 forwards;
}

@keyframes shiftDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(var(--distance, -3.5rem) * -1));
  }
  100% {
    transform: translateY(calc(var(--distance, -3.5rem) * -1));
  }
}

.hop {
  position: absolute;
  top: 0;
  left: 0;
  translate: var(--direction, 0rem) var(--jump-distance, 3.5rem);
  scale: 1 1;
  animation:
    hop 1s ease-out 1s 1 forwards,
    flip 1s ease-in-out 1s 1 forwards;
  z-index: 1;
}

@keyframes hop {
  0% {
    translate: var(--direction, 0rem) var(--jump-distance, 3.5rem);
    scale: 1 1;
  }
  10% {
    translate: var(--direction, 0rem) var(--jump-distance, 3.5rem);
    scale: 1 0.8;
  }
  50% {
    translate: calc(var(--direction, 0rem) * 0.5) -2.5rem;
    scale: 1 1.2;
  }
  80% {
    translate: 0 0;
    scale: 1 0.8;
  }
  90% {
    translate: 0 -0.2rem;
    scale: 1 0.9;
  }
  100% {
    translate: 0 0;
    scale: 1 1;
  }
}

@keyframes flip {
  0% {
    rotate: 0deg;
  }
  40% {
    rotate: var(--rotateDirection, 0deg);
  }
  80% {
    rotate: 0deg;
  }
  100% {
    rotate: 0deg;
  }
}
