.shape {
  text-shadow:
    0px 0px 0px #eee,
    0px 0px 4px #000,
    0px 0px 2px #000;
  color: transparent;
  opacity: 60%;
  mix-blend-mode: lighten;
  font-size: small;
}

.texture {
  background: url("./wood-texture.png");
  mix-blend-mode: color-burn;
  opacity: 60%;
}

.gradient {
  background: linear-gradient(
    rgba(0, 0, 0, 50%) 0%,
    rgba(0, 0, 0, 20%) 5%,
    rgba(0, 0, 0, 20%) 30%,
    rgba(255, 255, 255, 20%) 35%,
    /* rgba(0, 0, 0, 10%) 25%, */ rgba(0, 0, 0, 0%) 40%,
    rgba(0, 0, 0, 0%) 90%,
    rgba(0, 0, 0, 50%) 100%
  );
}

.gradientLocked {
  transition: opacity 1s;
  background: linear-gradient(
    rgba(0, 0, 0, 50%) 0%,
    rgba(0, 0, 0, 40%) 20%,
    rgba(0, 0, 0, 40%) 85%,
    rgba(0, 0, 0, 60%) 100%
  );
}
