@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a52a2a;
  background:
    linear-gradient(#a52a2aff 0%, #a52a2a00 20%, #a52a2a00 80%, #a52a2aff 100%),
    url("./assets/wood-texture.png") repeat,
    linear-gradient(#a52a2aff 0%, #a52a2aff 100%);
  user-select: none;
}

:root,
html,
body {
  overscroll-behavior: none;
}
