@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LuckiestGuy";
  src: url(./assets/LuckiestGuy-Regular.ttf) format("truetype");
}

body {
  background-color: #63462d;
  user-select: none;
}

:root,
html,
body {
  overscroll-behavior: none;
}

:root,
html,
body,
#root {
  height: 100%;
}
