@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #63462d;
  user-select: none;
}

:root,
html,
body {
  overscroll-behavior: none;
}

:root,
html,
body,
#root {
  height: 100%;
}
