.PWABadgeContainer {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}
.PWABadgeToast {
  @apply fixed bottom-0 right-0 z-10 m-4 text-left;

  background:
    url("./assets/wood-texture.png") repeat,
    linear-gradient(#e9b466 0%, #e9b466 100%);
  background-blend-mode: multiply;
  @apply animate-fadeIn rounded-xl border border-black p-4 drop-shadow-lg [animation-duration:0.3s];
}
.PWABadgeToastMessage {
  margin-bottom: 8px;
}
